body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: black;
  padding: 3px;
  color: white;
  font-size: 135%;
}
.name {
  font-size: 125%;
}
.inputAround {
  padding: 3px;
}
label {
  font-size: 115%;
}
input {
  line-height: 3em;
  border: 2px solid green;
  width: 35%;
  padding-left: 1em;
}
select {
  border: 2px solid green;
  width: 35%;
  height: 3em;
}
h4 {
  font-weight: bold;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.about {
  font-family: 'Open Sans';
  font-weight: normal;
  text-align: left;
                font-style: normal;
                text-transform: none;
}
.text {
  font-size: 120%;
  padding: 5px;
}
.text a {
  text-decoration: none;
}
.calculator {
  margin-top: 20px;
}
